/*** Added css for responsve nav **/
.row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}
.nav-row {
  display:block;
}
.main_h {
  position: fixed;
  top: 0px;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif;
}


.open-nav {
  max-height: 550px !important;
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.sticky {
  background-color: rgba(255, 255, 255, 0.93);
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid gainsboro;
}

.logo {
  width: 50px;
  font-size: 25px;
  color: #f6a5c2;
  font-family: 'Gabriela', serif;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
}
.logo-img {
  margin-top: -10px;
}


nav {
  float: right;
  width: 85%;
}

nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}


nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}


nav ul a, span {
  color: #888888;
  text-transform: uppercase;
  font-size: 13px;
  font-family: 'Gabriela', serif;
}
nav ul a:hover,nav ul a.active {
  color:#f6a5c2;
}

nav button {
  background: transparent;
  font-family: 'Gabriela', serif;
  color: #888888;
  font-size: 13px;
}

.container_list
	{display:block;position:relative;float:left}

.content_list
	{display:none;position:absolute;z-index:10; }

button.btnList{
	margin:0;
	border:none;
	outline:none;
	cursor:pointer
	}
  .acc
	{display:none}

.content_list:before,
h2:before,
h2:after
	{content:"";display:block;position:absolute}


.content_list
	{background:#fff;min-width:145px;top:45px; border:1px solid #f5f5f5;}


.content_list.left:before
	{left:0;
      width: 8px;
      top: -8px;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #fff;
  }

.content_list.center
	{left:-65px}

.content_list.center:before
	{left:50%;transform:translate(-50%,0)}

.content_list.right,
.content_list.right:before
	{right:0}

.content_list:before{
	width:8px;
	top:-8px;
	border-left:8px solid transparent;
	border-right:8px solid transparent;
	border-bottom:8px solid #fff
	}

#sub1
{
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: left;
    padding: 5px 15px;
    z-index: 1;
}
nav ul#sub1 li {
  margin:0;
  display: block;
}
nav ul#sub1 li a {
  text-align: left;
  line-height: 3;
}

p.sub-menu {
  margin:15px;
}

p.sub-menu a {
  padding:0 0 5px;
  display: inline-block;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}



@keyframes buble{
	from{transform:rotate(45deg) translate(-50%,0) scale(.8,.8)}
	to{transform:rotate(45deg) translate(-50%,0) scale(1,1)}
	}

  /*
  When the "Button List" clicked, the "content_list" will be replaced with the "show_list".
  */



[class*="show"]
  	{display:block}

.show_list{
  text-align: left;
  box-shadow: 1px 1px 18px #d8d6d6;/*animation:height 1s ease*/
}

@keyframes height{
  	from{padding:0;opacity:0}
  	to{padding:20px 0;opacity:1}
  	}

@keyframes width{
  	from{width:0;opacity:0}
  	to{width:150px;opacity:1}
  	}