body {
  /*background-color: #d1ebff;*/
  color: #070005;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Gabriela', serif;
  display:block;
  width:100%;
}

h2 {
  font-family: 'Gabriela', serif;
}

h3, h4 {
  font-family: 'Gabriela', serif;
}

a {
  text-decoration: underline;
}
p {
  width:100%;
}
