//- site.pug
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
meta(http-equiv='x-ua-compatible' content='ie=edge')
link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css')
style
  include ../../css/bootstrap.min.css
  include ../../css/mdb.min.css
  include ../../css/style.min.css
  include ../../css/nav.css
  include ../../css/text.css
include topnav.pug