//- vegas.pug
doctype html
html
  head
    title PPC Presents: Royal Vegas Retreat
    include includes/site.pug
    include includes/event/event-nav.pug
  body
    include:markdown-it ../md/vegas.md
    include includes/scripts.pug
    include includes/footer.pug
