//- event-nav.pug
nav(class='navbar event-nav')
  div(class='collapse navbar-collapse', id='navbarSupportedContent1')
    ul
      li: a(href='./vegas.html') The Event
      li: a(href='./event/reg.html') Hotel and Registration
      li: a(href='./event/schedule.html') Schedule
      li: a(href='./event/programming.html') Programming
      li: a(href='./event/special-guests.html') Special Guests
      li: a(href='./event/tourists.html') Tourist Information
      li: a(href='./event/event-faq.html') Event FAQ